* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
body{
  background-color: aquamarine;
  border: 3px dashed black;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 23px;
  padding: 23px;
}
